@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --cor1: hsl(215, 51%, 70%);
    --cor2: hsl(178, 100%, 50%);
    --cor2o: hsla(178, 100%, 50%, 0.2); /*image hover*/
    --cor3: hsl(217, 54%, 11%); /*main BG*/
    --cor4: hsl(216, 50%, 16%); /*card BG*/
    --cor5: hsl(215, 32%, 27%); /*line*/

    --font: 'Outfit', sans-serif; /*300, 400, 600*/


}

*, *::before, *::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 18px;
}

html, body {
    width: 100vw;
    min-height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--cor3);
}

main {
    width: 355px;
    background-color: var(--cor4);
    color: white;
    padding: 30px;
    margin: 30px;
    border-radius: 20px;
}

.image {
    height: 300px;
    background: var(--cor4) url(../images/image-equilibrium.jpg) no-repeat center center;
    background-size: cover;
    border-radius: 10px;
    overflow: hidden;
}

.overlay {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    content-visibility: hidden;
}

.overlay:hover {
    cursor: pointer;
    content-visibility: visible;
    background-color: var(--cor2o);
}

h1 {
    margin: 20px 0px;
    font-size: 1.3em;
    font-weight: 600;
}

h1:hover {
    color: var(--cor2);
    cursor: pointer;
}

div.text p {
    color: var(--cor1);
    font-weight: 300;
    line-height: 1.5em;
}

div.text > p {
    margin-bottom: 20px;
}

div.text > div#info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-weight: 400;
}

div#info > span#eth {
    display: flex;
    align-items: center;
    color: var(--cor2);
}

span#eth > svg {
    margin-right: 5px;
}

div#info > span#time-left {
    display: flex;
    align-items: center;
    color: var(--cor1);
}

span#time-left > svg {
    margin-right: 5px;
}

div.text > hr {
    height: 1px;
    border: none;
    background-color: var(--cor5);
}

div.text > div#author {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

div#author img {
    height: 35px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 15px;
}

div#author strong {
    color: white;
    font-weight: 300;
}

div#author strong:hover {
    color: var(--cor2);
    cursor: pointer;
}

footer {
    background-color: var(--cor4);
    padding: 5px;
    border-radius: 5px;
    color: var(--cor1);
}

.attribution {
    font-size: 12px;
    text-align: center;
}

.attribution a {
    color: var(--cor1);
    font-size: 12px;
}

.attribution a:hover {
    color: var(--cor2);
}